@font-face {
  font-family: "GT Eesti Pro";
  src: url("./src/assets/gteestiprodisplay_regular.otf") format("opentype");
}

body {
  font-family: "GT Eesti Pro", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --value: "0%";
  --progress-primary-color: #005dff;
  --progress-secondary-color: #eef3f6;
  --inactive-color: #dfe6f0;
  --text-color: #000000;
  font-size: 16px;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 82%, transparent 80% 100%),
    conic-gradient(
      var(--progress-primary-color) var(--value),
      var(--progress-secondary-color) 0
    );
}

.normal {
  visibility: visible;
}

@keyframes rotateAnim {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animated {
  animation: rotateAnim 2s ease 0s infinite normal forwards;
}

.hidden {
  visibility: hidden;
}

.form-container {
  height: 230px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: space-between;
}

.control {
  display: flex;
  gap: 20px;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 568px) {
  .container {
    flex-direction: row;
    justify-content: start;
  }
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
}

.heading {
  font-weight: 400;
  font-size: 16px;
  margin: 6px 0;
}

input[type="text"] {
  outline: none;
}

.text-input {
  width: 45px;
  height: 28px;
  border-radius: 28px;
  border: 1.5px solid black;
  font-family: "GT Eesti Pro", sans-serif;
  font-weight: 400;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  padding-top: 4px;
}

.text-input:active,
.text-input:focus {
  border: 1.5px solid var(--progress-primary-color);
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 28px;
  margin: 0;
  vertical-align: top;
  background: var(--inactive-color);
  border: none;
  border-radius: 28px;
  outline: none;
  cursor: pointer;
  appearance: none;
}

.toggle-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transform: translateX(0);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% - 7px));
  background-color: #fff;
}

.toggle-button:checked {
  background-color: var(--progress-primary-color);
}
